{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name='viewport' content='width=device-width, initial-scale=1'>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
         integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <link rel="stylesheet" href="{% static 'CSS/signup.css' %}">
</head>
<body>
  <section class="container-fluid bg">
        <section class="row justify-content-center">
            <section class="col-11 col-sm-6 col-md-3">
                <form class="form-container" action="/Details/" method="post">
                      {% csrf_token %}
                      <center><h2> Add User </h2></center>
                   <div class="form-group">
                    <label>User Name</label>
                        <input type="text" class="form-control"  placeholder="User Name" name="uname" style="width: 300px">
                </div>
                <div class="form-group">
                    <labele>Email</labele>
                        <input type="email" class="form-control"  placeholder="Email" name="email" style="width: 300px">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="PW" style="width: 300px">
                </div>
               <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="CPW" style="width: 300px">
                </div>

                        <button type="submit" class="btn btn-primary btn-block" >Add User</button>

                  </form>
            </section>
        </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>